
    .custom-bg-color {
        background-color: #99ccff;
    }
    .btn-color-change {
        background-color: #003366;
    }

    .right-section {
        height:75vh;
        background-image: url("/storage/images/login-image1.png");
        background-repeat:no-repeat;
        background-size:cover;
    }

    .text-account {
        font-size: 1.1vw;
    }
    .text-sign-up {
        font-size: 1.1vw;
        font-weight: bold;
    }
