/* Apply Poppins font to body text */
// @import "~font-awesome/css/font-awesome.css";

@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');