.body{
    background-color: rgb(153,204,255);
    height: 924px;
}
.card-radius{
    border-radius: 15px 15px 15px 15px;
}
.card-image{
    background-image: url('../images/carrot.jpg');
    background-size: cover;
    height: 500px;
    border-radius: 15px 15px 15px 15px;
    margin-top: 20px;
}
.upload-box{
    width: 100%;
    height: 500px;
    border-radius: 15px 15px 0px 0px;
    border: 2px dashed #333;
    display: flex;
    justify-content: center;
    opacity: 0;
}
.upload-box-new{
    width: 100%;
    height: 500px;
    border-radius: 15px 15px 0px 0px;
    border: 2px dashed #333;
    display: flex;
    justify-content: center;
}
input{
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    color: rgb(115,176,232);
    padding: 100px;
}
.button ,.cancel-button{
    color:white;
    border: none;
    border-radius: 10px;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.button{
    background-color: rgb(102,153,204);
}
.cancel-button{
    background-color: rgb(51,102,153);
}