/* edit.blade.php */
.body{
    font-family: poppins;
}

.upload-box{
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
    border: 2px dashed #333;
    display: flex;
    justify-content: center;
    opacity: 0;
}

/* item form button   I want to create a room between header and item */
.col-4{
    margin-top: 75px;
}
.input{
    background-color:transparent; 
    border-color:black; 
    height:50px;
    margin-top: 30px;
}

.close-button,.save-button,.delete-button{
    color:white;
    background-color: rgb(102,153,204);
    border-radius: 10px;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

select{
    background-color:transparent; 
    border-color:black; 
    height:50px;
    margin-top: 30px;
    text-align: center;
}

.sort{
    background-color: rgb(235,245,251);
    border-color: rgb(204,204,255);
    border-radius: 10px;
    margin-top: auto;
    padding: 15px
}  
.inventory-text{
    padding-left: 105px;
}
.inventory{
    margin-top: 50px;
}

/* table css */
.table{
    background-color: rgb(51,102,153);
    border-radius: 10px;
    margin-bottom: 30px;
}
th ,td{
    color: white;
    width: 40px;
    padding-left: 40px;
    padding-top: 20px;
}
.nav{
    padding-left: 570px;
}
.text-margin{
    margin-left: 50px;

}

    /* everything same css */
    .card-body{
        background-size: cover;
        height: 250px;
        border-radius: 20px 20px 0px 0px;
    }

    .card{
        background-color: rgb(216,230,233);
        border-radius: 20px 20px 20px 20px;
    }

    /* .card-text{
        background-color: rgb(153,204,255);
    } */

    /* modal (delete and save) same css */
    .card-modal{
        width: 35%;
        margin-left: 32%;
        height: 300px;
    }

        h2{
            color: rgb(117,123,157)
        }

        .modal-form{
            display: flex;
        }

    /* modal/delete.blade.php */

    .modal-cancel-button{
        margin-right: 180px;
        padding: 10px 30px 10px 30px;
        border-radius: 10px;
        background-color: rgb(153,204,255);
        color: white;
        border: none;
        margin-top: 0;
        margin-bottom: 50px;
    }
    .modal-delete-button{
        margin-right: 180px;
        border-radius: 10px;
        padding: 10px 30px 10px 30px;
        background-color: rgb(255,61,0);
        border: none;
        color: white;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }   

    /* modal/save.blade.php */


    .modal-close-button{
        margin-right: 270px;
        padding: 10px 100px 10px 100px;
        border-radius: 10px;
        background-color: rgb(102,153,204);
        color: white;
        border: none;
        margin-top: 0;
        margin-bottom: 50px;
    }