.banto-img {
  max-width: 100;
  height: auto;
}

.logo-section img {
  max-width: 100;
  height: auto;
}

.custom-bg-color {
  background-color: #99ccff;
}

.btn-color-change {
  background-color: #003366;
}
