.body {
  font-style: Poppins;
  text-decoration-color: black !important;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pagination {
  border-radius: 4px;
}

.page-link {
  text-decoration: none;
  color: black;
  background-color: #f2f3f5;
}

.pagination .page-link:hover {
  color: white;
  background-color: #003366;
}
